.question_lable_layout {
  margin: 0 auto;
}
.question_label {
  height: 2.4rem;
  font-size: 1rem;
  font-weight: 600;
  width: 14rem;
  border-radius: 5px;
  transition: 1s;
}

.question_lable_active {
  width: 14rem;
  height: 2.4rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  transition: 1s;
  border: 3px solid rgb(0, 217, 255);
}

.question_label:focus {
  border: 3px solid rgb(0, 217, 255);
}

.question_arrow {
  width: 37px;
  height: 37px;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.question_arrow_active {
  width: 35px;
  cursor: pointer;
  animation: pulse 2s infinite;
  transform: scale(1.1);
  border-radius: 50%;
}

.question_arrow:hover {
  background-image: radial-gradient(rgb(20, 204, 211), white);
  border-radius: 50%;
  cursor: pointer;
  padding: 3px;
}
.warning_wrapper {
  z-index: 1;
  position: absolute;
  padding: 0;
  margin: 0;
}
.question_warning {
  z-index: 1;
  color: white;
  font-size: 18px;
  padding: 8px 10px 8px 15px;
  position: absolute;
  background: rgba(255, 157, 0, 0.993);
  max-width: 220px;
  border-radius: 5px;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    background-image: radial-gradient(rgb(0, 217, 255), white);
  }

  70% {
    transform: scale(1);
    background-image: radial-gradient(rgb(0, 217, 255), white);
  }

  100% {
    transform: scale(0.95);
    background-image: radial-gradient(rgb(0, 217, 255), white);
  }
}
