.modal_layout_wrapper {
  color: white;
  border: 1px dotted white;
}

.modal_header_background {
  background-color: rgb(15, 191, 214);
}

.modal_logo_and_title_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_logo {
  height: 4rem;
  margin: 0.8rem 1.5rem 0.8rem 1rem;
}

.modal_title {
  text-align: center;

  font-size: 100%;
  width: auto;
  color: white;
}

.close {
  font-weight: 900;
}

.modal_img {
  margin: 2rem auto;
  width: 100%;
  min-width: 200px;
  transition: 1s;
}

.modal_img:hover {
  padding: 1rem;
  transform: scale(1.05);
  cursor: pointer;
}

.modal_tagline {
  color: rgb(68, 67, 64);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin: 0 2rem;
}

.modal-footer {
}
