.loader {
  border: 12px solid rgb(0, 0, 0);
  border-radius: 50%;
  border-top: 12px solid #ff9e01;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  background-image: linear-gradient(white, rgb(38, 197, 218));
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner_text {
  text-align: center;
  color: black;
  padding-top: 1rem;
}
