.centered {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 20px;
}

.middsection_wrapper {
  width: 100%;
  padding: 1px;
}

.question_list_footer {
  text-align: center;
  padding-top: 15px;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(15, 191, 214);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(16, 132, 148);
}

/* ..................................................... */
