.answer_wrapper {
  max-width: 800px;
  margin-left: 40px;
  border-bottom: 1px solid rgb(15, 191, 214);
  padding: 2.5%;
  margin: 0 auto;
}

.answer_button_wrapper {
  display: flex;
  justify-content: center;
  transition: 1s;
}

.update_answer_input {
  width: 100%;
  margin: 15px 0;

  height: 35px;
  border: 2px solid rgb(0, 217, 255);
  border-radius: 5px;
}
