.sideBarContainer {
  text-align: center;
}

.sideBarContainer img {
  width: 60%;
  padding-bottom: 10px;
}

.askItHeroDescriptionWrapper {
  padding: 15px 0;
}

.askItHeroDescription {
  font-size: 14px;
  color: #565673;
  font-weight: 800;
  padding: 20px;
  text-align: center;
  margin: 0;
}
.sidebarSections {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.sidebarSectionsLink img {
  padding: 0 15px 0 0;
}

.hotQuestion {
  display: inline-block;
}

.hot_question_img {
  margin: 7px 0;
}

.sidebarSectionsLink h3 {
  color: #6c6c6c;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.sidebarSectionsLink span {
  font-size: 10px;
  font-weight: 400;
  color: #6c6c66;
}
