body {
  font-family: "Oswald", sans-serif;
}

.App {
  margin: 0;
  padding: 20px 0;
  width: 100%;
  background: #e9eaed;
}

#AppPhoto {
  padding-top: 10vh;
  max-width: 100%;
  height: auto;
}

#AppTitle {
  margin-top: 15vh;
  padding: 7vh 3vh 4vh 4vh;
}

.App__Aside {
  width: 50%;
  background-color: #66dac7;
}

.App__Form {
  width: 50%;
  background-color: #2e4158;
  padding: 25px 40px;
  overflow: auto;
}

.App__Form__Center {
  padding-left: 3vh;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #4c5d72;
  color: #9da6b1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5ed0c0;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.FormTitle {
  padding-top: 3vh;
  color: #707c8b;
  font-weight: 300;
}

.FormTitle__Link {
  color: #707c8b;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
  cursor: pointer;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;
  color: rgb(255, 136, 1);
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.911);
  outline: none;
  border-bottom: 1px solid rgb(15, 174, 214);
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: rgb(131, 137, 145);
}

.FormField__Button {
  background-color: #52c4b9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1em;
}

.FormField__Link {
  color: #66707d;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225e62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646f7d;
  font-size: 0.9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.Password__Contanier {
  width: 100%;

  margin: auto;
  border: 1px solid #199087;
  border-radius: 4vh;
  background-color: #e9eaed;
}

.reviewers {
  padding: 1vh 4vh 1vh 1vh;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
}

.checkBoxOption {
  margin-left: 3vh;
}

.custom-date-input {
  background-color: #707c8b;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  margin-top: 15px;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
}

.select__absence {
  background-color: #707c8b;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  margin-top: 15px;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#number_of_absences {
  display: inline-block;
  background: #52c4b9;
  border: 1px solid yellow;
  padding: 2px;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #66dac7;
}

option {
  padding: 2vh;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.fa-times {
  right: 10px;
  top: 10px;
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  color: white;
  transition: all 0.2s ease-in-out;
}

.fa-times:hover {
  opacity: 1;
}

.sidebar_menu {
  position: fixed;
  width: 250px;
  margin-left: 0px;
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  background-color: #2e4158;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.hide_menu {
  margin-left: -250px;
  transition: all 0.3s ease-in-out;
}

.toggle_menu {
  position: fixed;
  padding: 15px 20px 15px 15px;
  margin-top: 70px;
  color: white;
  cursor: pointer;
  background-color: #648b79;
  opacity: 0;
  z-index: 10000;
  font-size: 2em;
  transition: all 0.2s ease-in-out;
}

.opacity_one {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.toggle_menu:hover {
  background-color: #fe4365;
  transition: all 0.2s ease-in-out;
}

.boxed_item {
  font-family: "Open Sans";
  font-weight: 200;
  padding: 10px 20px;
  display: inline-block;
  border: solid 2px white;
  box-sizing: border-box;
  font-size: 22px;
  color: white;
  text-align: center;
}

.danger-error {
  width: 85%;
  background-color: transparent;
  border: none;
  color: #52c4b9;
  outline: none;

  font-weight: 300;
  padding-bottom: 10px;
}

.logo_bold {
  font-weight: 800;
}

.logo_title {
  color: white;
  font-family: "Open Sans";
  font-weight: 200;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
}

.menu_close {
  color: #d8d8d8;
  position: absolute;
  right: 8px;
  opacity: 0.7;
  top: 6px;
  font-size: 1.1em;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.menu_close:hover {
  color: #fe4365;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.navigation_section {
  margin: 20px 0;
  display: block;
  width: 200px;
  margin-left: 25px;
}

.navigation_item {
  font-weight: 200;
  font-family: "Open Sans";
  color: white;
  padding: 12px 0px;
  box-sizing: border-box;
  font-size: 14px;
  color: #d8d8d8;
  border-bottom: solid 1px #d8d8d8;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.navigation_item:hover {
  color: #66dac7;
  transition: all 0.3s ease-in-out;
}

.boxed_item_smaller {
  font-size: 12px;
  color: #d8d8d8;
  width: 200px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-width: 1px;
  margin: 0 0 20px 0;
}

.boxed_item_smaller:hover {
  background-color: white;
  color: #111;
  transition: all 0.3s ease-in-out;
}

.reviewers {
  padding: 2em;
}

.upper_Right {
  margin: 3vh;
  cursor: pointer;
  border: 1px solid #445366;
}
